body {
    background-color: #e0e1e2;
    color: rgba(32, 35, 41, 0.9);
}

h1 {

  border-style: solid;
  border-radius: 10px;
  border-color: rgba(32, 35, 41, 0.9);
}

h3{

  border-style: solid;
  border-radius:10px;
  border-color:rgba(32, 35, 41, 0.9)
}
